.container{
    border: 4px solid black;
    display: flex;
    background-color: lightblue;

}
.child-logo {
    color:black;
    margin-top: 0px;
    margin-right: auto;
    
  

}
.headers {
    display: flex;
    font-size: 8px;
    color:gray;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    flex-basis: 25%;
    flex-grow: 1;
    justify-content: space-evenly;


}
html, body {
    margin:0;
    padding:0;

}
.header-items {
    justify-content: space-between;
}
